<div class="container">
  <div class="row">
    <h2>Display claims to that differiate your business &amp; benefits to your customers</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="circle">Icon 1</div>
      <h3>Claim 1</h3>
      <p>What's the fincial gain of using your solution?</p>
    </div>
    <div class="col-md-4">
        <div class="circle">Icon 2</div>
      <h3>Claim 2</h3>
      <p>What's the stragtegic gain of using your solution</p>
    </div>
    <div class="col-md-4">
        <div class="circle">Icon 3</div>
        <h3>Claim 3</h3>
      <p>What's the personal gain</p>
    </div>
  </div>
</div>
