<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" id="left">
      <h3>Position your self</h3>
      <h4>Share what makes your solution uniquely valuable and make your brand stand out</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus veniam tempore suscipit voluptatibus iure amet deserunt. Maxime, doloribus veritatis? Eaque nam voluptate eligendi id numquam quidem molestias quos est qui dolorem possimus, voluptates perspiciatis facilis fugit. Repellendus nostrum sed impedit molestias necessitatibus, excepturi magnam officiis, odio nulla optio id quas!</p>
      <button class="btn btn-danger">Next Slide</button>
      <!-- the text get cut off while on mobile -->
    </div>

    <div class="col-lg-6" id="right"></div>
    
  </div>
</div>